<div class="fund-header">
  <h1>{{fund.name}}</h1>
</div>

<div class="fund-properties">
  <div class="pairs">
    <div class="pair">
      <div class="key">ISIN</div>
      <div class="value">{{fund['ISIN Code']}}</div>
    </div>

    <div class="pair">
      <div class="key">Date</div>
      <div class="value">{{fund['Report Date From']|fuzzydate:'MM/dd/yyyy'}}</div>
    </div>

    <div class="pair">
      <div class="key">Currency</div>
      <div class="value">{{fund['Fund Size Currency Code']}}</div>
    </div>

    <div class="pair">
      <div class="key">NAV</div>
      <div class="value">{{fund['NAV Base']|currency:''}}</div>
    </div>

    <div class="pair">
      <div class="key">Asset Class</div>
      <div class="value">{{fund['Asset Class Taxonomy Id']}}</div>
    </div>

    <div class="pair">
      <div class="key">Region</div>
      <div class="value">{{fund['Region Taxonomy Id']}}</div>
    </div>

    <div class="pair">
      <div class="key">Organization</div>
      <div class="value">{{fund['Organization Id']}}</div>
    </div>
  </div>
</div>

<div class="fund-dropdown">
  <select ng-model="selectedCode">
    <option ng-repeat="isin in fund.shareClasses" value="{{isin['ISIN Code']}}">{{isin['Short Name']}}</option>
  </select>
</div>


<div class="isin" ng-if="!fundIsOld()" isin-properties-table isin="selectedISIN"></div>
<div class="isin" ng-if="fundIsOld()" isin-properties-list isin="selectedISIN"></div>

<button>chart toggle goes here</button>

