body {
  //background-color: red;
  font-family: sans-serif;
  font-size: 14px;
}

.fund + .fund {
  border-top: 1px solid #eee;
  margin-top: 20px;
}

dl {
  display: flex;
  flex-wrap: wrap;
}

dt, dd {
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #f8f8f8;
  margin: 2px;
  width: 160px;
}

dt {
  margin-right: 0;
}
dd {
  margin-left: 0;
}
